.center {
  position: absolute;
  /* display: block; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 225px;
  /* width: 80%; */
  height: 375px;
  /* height: 80%; */
  background-color: purple;
  /* margin-top: calc(height/2); */
  /* margin-top: -268px; */
}
.img_bg {
  display: block;
  background-size: cover;
}
button {
  position: absolute;
  width: 54px;
  height: 34px;
  border: none;
  border-radius: 2px;
}
button:hover {
  border: 1px solid #888c90;
}
#id_pl_mi {
  margin-top: -37px;
  margin-left: 2px;
}
#id0 {
  margin-top: -37px;
  margin-left: 58px;
}
#id_comma {
  margin-top: -37px;
  margin-left: 114px;
}
#id_equal {
  margin-top: -37px;
  margin-left: 170px;
}
#id1 {
  margin-top: -75px;
  margin-left: 2px;
}
#id2 {
  margin-top: -75px;
  margin-left: 58px;
}
#id3 {
  margin-top: -75px;
  margin-left: 114px;
}
#id_plus {
  margin-top: -75px;
  margin-left: 170px;
}
#id4 {
  margin-top: -112px;
  margin-left: 2px;
}
#id5 {
  margin-top: -112px;
  margin-left: 58px;
}
#id6 {
  margin-top: -112px;
  margin-left: 114px;
}
#id_minus {
  margin-top: -112px;
  margin-left: 170px;
}
#id7 {
  margin-top: -150px;
  margin-left: 2px;
}
#id8 {
  margin-top: -150px;
  margin-left: 58px;
}
#id9 {
  margin-top: -150px;
  margin-left: 114px;
}
#id_multiply {
  margin-top: -150px;
  margin-left: 170px;
}
